# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Debug files
*.swp

# Coverage directories
coverage/

# Build directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm/

# IDEs and editors
.vscode/
.idea/

# Docker
docker-compose.override.yml

# PM2 process files
.pids/
*.pm2.log

# Misc
*.tgz
